/* Define keyframes for continuous scrolling */
@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll-left{
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Carousel container styles */
.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.carousel {
  display: flex;
  animation: scroll-left 25s linear infinite;
}

/* Adjust for buttons carousel */
.top-button-carousel {
  display: flex;
  animation: scroll-right 20s linear infinite;
}
/* Adjust for buttons carousel */
.bottom-button-carousel {
  display: flex;
  animation: scroll-left 20s linear infinite;
}

/* Ensure all carousel items are in a row */
.carousel-item, .button-item {
  display: inline-block;
  white-space: nowrap;
}
