/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/App.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
/* Define keyframes for continuous scrolling using translate3d */
@keyframes scroll-left {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(-25%, 0, 0);
  }
}

@keyframes scroll-right {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Carousel container styles */
.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: calc(100% * 2);
}

.carousel {
  display: flex;
  animation: scroll-left 10s linear infinite;
  scroll-behavior: smooth;
  /* Duplicate content */
}

/* Adjust for buttons carousel */
.top-button-carousel {
  display: flex;
  animation: scroll-right 10s linear infinite;
  scroll-behavior: smooth;
}

.bottom-button-carousel {
  display: flex;
  animation: scroll-left 10s linear infinite;
}

/* Ensure all carousel items are in a row */
.carousel-item, .button-item {
  display: inline-block;
  white-space: nowrap;
}

